/* Esta es la seccion de texto principal y se repite en todas las paginas */
@import "colores";

@media only screen and (min-width:1024px){
    
    .article{
        // height: 350px;
        display: flex;
        flex-direction: row;
        // padding-left: 27%;
        // padding-right: 27%;
        background: $verde;
        // margin-top: 35px;
        align-items: center;
        justify-content: center;
        .article__div{
            position: relative;
            right: 60px;
        
            .article__h2--font{
                font-size: 45px;
                color: $h1Article;
                text-align: initial;
                padding-left: 75px;
        
            }
            .article__txt--font{
                font-size: 16px;
                text-align: initial;
                padding-right: 30px;
                padding-left: 75px;
                padding-top: 65px;
                color: $blanco;
            }
        
        }
    }
    
}


@media only screen and (max-width: 767px){
    .article{
        display: flex;
        // flex-direction: column;
        // padding-left: 20px;
        // padding-right: 20px;
        // padding-bottom: 15px;
        // background: $bgArticle;
        align-items: center;
        background-color: cadetblue;
        margin: 24px;
    
        .article__h2--font{
            font-size: 30px;
            color: $amarillo;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: center;
    
        }
        .article__txt--font{
            font-size: 16px;
            text-align: center;
            padding: 7px;
            color: $blanco;
    
        }
    }
}


