$header: linear-gradient(45deg,#1e9d82,#f8f9fa);
$blanco: whitesmoke;
$amarillo: #f5f376;
$negro: black;
$bgG:#3b97d4;
$bgArticle:linear-gradient(#d24429f2);
$bgArticle2: linear-gradient(270deg, #66d2ff, #dee2e6);
$bgGrillaSem:linear-gradient(270deg, #00b9a9, #667be6); 
$verde: #1e9d82;
$h1Article:#e9ecef;
$cardsBg:linear-gradient(
    270deg
    , #9b40f0, #dee2e6);
$tituloNovBg: #feca5f;
$bgGrillaCom:linear-gradient(270deg, #00b9a9, #667be6);