.contenedorValores__title{
    background: #1e9d82;
    padding-top: 50px;
}
.contenedorValores{
    background-color: #1e9d82;
    padding: 50px 250px 100px 250px;
    .contenedorValores__card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // padding: 0px 75px 0px 75px;
        
        p{
            text-align: center;
            padding-right: 80px;
            font-size: 15px;
            padding-left: 80px;
            padding-top: 20px;
            color: $blanco;
        }
    }
}