@media only screen and (min-width: 1024px){
    .divError{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 250px;
        .divError__h1{
            color: black;
        }
        a{
            .divError__btn{
                font-size: 20px;
            }
        }
        
    }   

}
@media only screen and (max-width:767px){
    .divError{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 55px;
        .divError__h1{
            color: black;
        }
        p{
            font-size: 14px;
        }
        a{
            .divError__btn{
                font-size: 20px;
            }
        }
        
    }
}