@media only screen and (min-width:1024px){
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background: $header;
        .footer__logo--size{
            width: 100px;
            position: relative;
            top: 10px;
            &:hover{
                transition: .8s;
                width: 110px;
            }
        }
        .footer__div{
            padding: 0px 825px 0px 825px;
            .footer__redes--position{
                padding: 0px 15px 15px 15px;
                img{
                    width: 20%;
                }
            }
        }

    }    
}
.footer__enlace--font{
        color: $verde;
        font-size: 15px;
        padding-top: 15px;
        // padding-bottom: 50px;
        font-weight: bold;
        &:hover{
            color: $amarillo;
        }
}

@media only screen and (max-width:767px){
    .footer{
        
        background: $header;
        .footer__redes--position{
            display: flex;
            width: 100%;
            height: 100px;
            position: relative;
            align-items: center;
            h3{
                font-size: 20px;
                color: blueviolet;
                text-align: center;
            }
            .footer__imgIg--size{
                width: 45%;
                margin-left: 20px;
            }
            .footer__imgYt--size{
                width: 100%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .footer__enlace--decoration{
            text-decoration: none;
            .footer__masInfo--font{
                font-size: 15px;
                color: $negro;
                background: linear-gradient(
                    45deg
                    , #ffc107, #f8f9fa);
                &:hover{
                    background: $cardsBg;
                    color: $blanco;
                }
                padding: 10px;
                border-radius: 180px;
                width:27%;
                margin: 0;
                position: relative;
                left: 135px;
                bottom: 10px;}
        }
                   
    }
    
}