@media only screen and (min-width:1024px){
    .footer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        background: $header;
        .footer__logo--size{
            width: 100px;
            position: relative;
            top: 10px;
            &:hover{
                transition: .8s;
                width: 110px;
            }
        }
        .footer__div{
            padding: 0px 825px 0px 825px;
            .footer__redes--position{
                padding: 0px 15px 15px 15px;
                img{
                    width: 20%;
                }
            }
        }

    }    
}
.footer__enlace--font{
        color: $verde;
        font-size: 15px;
        padding-top: 15px;
        // padding-bottom: 50px;
        font-weight: bold;
        &:hover{
            color: $amarillo;
        }
}

@media only screen and (max-width:767px){
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $header;
        .footer__logo--size{
            width: 100px;
            // position: relative;
        }
        h3{
            font-size: 2.625rem; 
        }
        .footer__div{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            .footer__redes--position{
                display: flex;
                /* width: 10%; */
                height: 100px;
                position: relative;
                flex-direction: row;
                align-items: center;
                img{
                    width: 70px;
                }
            }
        }

    }    
}
.footer__enlace--font{
        color: $verde;
        font-size: 15px;
        padding-top: 15px;
        // padding-bottom: 50px;
        font-weight: bold;
        &:hover{
            color: $amarillo;
        }
}