@import "colores";

@media only screen and (min-width: 1024px){
    .menu{
        background: $header;
        display: flex;
        align-items: center;
        flex-direction: row;
        @keyframes slideUp {
            0% {
              transform: translateY(2000px);
            }
            100% {
              transform: translateY(0px);
            }
          }
        .header__logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            a{width: 75px;
            padding: 15px;}
            .header__logo--size{
                width: 100%;
                background: $blanco;
                border-radius: 100px;
                &:hover{
                    background: $amarillo;
                }
            }
            .h1__logo--color a{
                color: $blanco;
                text-decoration: none;
                &:hover{
                    color: $amarillo;
                }
            }
            .h1__logo--font{
                font-size: 28px;
                width: 475px;
                position: relative;
                right: 20px;
                top: 12px;
                
            }
        }
        .navbar{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .navbar__li--padding{
                padding-right: 50px;
                .navbar__enlace--color{
                    color: #1e7e34;
                    &:hover{
                    color: $amarillo;
    
                    }
    
                }
                .navbar__enlace--font{
                    font-size: 16px;
                    text-decoration: none;
                    // font-weight: bold;
                    transition: font-size 2s;
                    &:hover{
                        font-size: 20px;
                    }
                }
        
            }
            
        }
    }

}
 @media only screen and (max-width:767px){
    .menu{
        background: $header;
        display: flex;
        flex-direction: row;
        align-items: center;
        .header__logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            left: 80px;
            top: 8px;
            .header__logo--size{
                width: 70%;
            }
            .h1__logo--color a{
                color: $blanco;
                text-decoration: none;
                &:hover{
                    color: $amarillo;
                }
            }
            .h1__logo--font{
                font-size:26px;
                position: relative;
                right: 27px;
                text-shadow: 3px 3px 3px #0c0e0c, 0px 1px 0px black, -1px 0px 0px black, 0px -1px 0px black;
            }
        }
        .navbar{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .navbar__button--size{
                width: 100%;
                background: $verde;
            }
            .navbar__li--padding{
                padding-right: 0;
                .navbar__enlace--color{
                    color: #28a745;
                    &:hover{
                    color: rgb(67, 95, 255);
    
                    }
    
                }
                .navbar__enlace--font{
                    font-size: 20px;
                    text-decoration: none;
                    // font-weight: bold;
                }
        
            }
            
        }
    }

 }
