@media only screen and(min-width:1024px){
    .cardsFlex{
        display: flex;
        flex-direction: row;
        padding: 0px 100px 0px 100px;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        // background: $amarillo;
        .cardsFlex__card--size{
            width: 40%;
            height: 40%;
            margin: 50px;
            padding: 20px;
            &:hover{
                width: 50%;
                transition: 1s;
            }
            
        }
        .cards__bg--color{
            background: #1e9d829e;
        }
            p{
                text-align: center;
                font-size: 15px;
                color: $blanco;
            }
    
    }

}

@media only screen and (max-width:767px){
    .cardsFlex{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $cardsBg;
        .cardsFlex__card--size{
            width: 85%;
            height: 40%;
            margin: 15px;
            
        }
        .cards__bg--color{
            background: $tituloNovBg;
        }
            p{
                text-align: center;
                font-size: 15px;
                color:$blanco;
            }
    }
    
}

.h2Novedades{
    text-align: center;
    font-size: 45px;
    color: whitesmoke;
    // background: $tituloNovBg;
    // margin: 25px;
    @media only screen and (max-width: 767px){
        font-size: 25px;
        padding-top: 25px;
    }
}