@media only screen and (min-width:1024px){
    .slider2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        .slider2__img{
            padding-bottom: 50px;
        }
        .slider2__txt{    
            font-size: 40px;
            color: #f8f9fa;
            text-align: center;
            padding-bottom: 100px;        
        }
    }

}
