@import"colores";

@media only screen and (min-width:1024px){
    .slider2{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        padding-bottom: 100px;
        .slider2__txt{    
            font-size: 40px;
            color: #f8f9fa;
            text-align: center;
            padding-bottom: 35px;        
        }
    }

}

@media only screen and (max-width:767px){
    .slider2{
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding-top: 100px;
        // padding-bottom: 100px;
        .slider2__txt{    
            font-size: 2.5rem;
            color: $amarillo;
            text-align: center;
            padding-bottom: 10px;        
        }
        .slider2__img{    
            padding: 10px;        
        }
    }
}
