@import "menu";
@import "articleTxt";
@import "novedades";
@import "footer";
@import "colores";
@import "grillaSem";
@import "grillaAgro";
@import "iframeCom";
@import "grillaCom";
@import "formContact";
@import "bgs";
@import "titulos";
@import "transitions";
@import "sliderB";
@import "contenedorValores";

* {
    margin: 0;
    padding: 0; }
  
html {
    font-size: 62.5%; }

.disNoMob{
    @media only screen and (max-width: 767px){
        display: none;
    }
}



  
body{
    background: $bgG;
    @media only screen and (max-width:767px){
        .flechaSubir{
            position: sticky;
            z-index: 10;
            top: 585px;
            right: 15px;
            // width: 50%;
            img{
                position: sticky;
            }
            }
        }
        @media only screen and (min-width: 1024px){
        .flechaSubir{
            left: 1800px;
            top: 900px;
            position: sticky;
            z-index: 10;
            // width: 50%;
            img{ /*estas animaciones mueven d un lado a otro el objeto que las tenga*/
                position: absolute;
                animation: expand .8s cubic-bezier(0.43, 0.28, 0.24, 0.35) forwards .5s;
                animation-iteration-count: infinite;
                animation-duration: 1s;
                animation-direction: alternate-reverse;
                @keyframes expand {
                    0% {
                        transform: translateX(10px);
                    }
                    100% {
                        transform: translateX(0px);
                    }
                }
            }
        }
                  
    }
}


.grilla--flex{
    @media only screen and (max-width:767px){
        padding: 48px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
}



@mixin button-variant(
  $background,
  $border,
  $color: color-contrast($background),
  $hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
  $hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
  $hover-color: color-contrast($hover-background),
  $active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
  $active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
  $active-color: color-contrast($active-background),
  $disabled-background: $background,
  $disabled-border: $border,
  $disabled-color: color-contrast($disabled-background)
) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:hover {
    color: $hover-color;
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }}