@import"colores";

$vista:desktop;

@if $vista == desktop {
    @media only screen and (min-width: 1024px){
        h1{font-size: 40px;
        font-family: 'Poppins', sans-serif;}
        h2{font-size: 55px;}
        .h2Novedades {
            text-align: center;
            padding-top: 50px;
            // font-size: 30px;
            }
        h3{font-size: 40px;
        padding-bottom: 15px;
        color: $verde;}
        h4{font-size: 3.5rem;
        color: $blanco}
        h5{font-size: 75px;
            position: relative;
            opacity: 0.6;}
        h6{
            font-size: 25px;
            padding-top: 35px;
        }
        p{
            font-family: 'Mali', cursive;
            font-size: 35px;
        }
        .pSlider{
            font-size: 30px;
            position: relative;
            bottom: 30px;
        }
        .slider2__txt{
            font-size: 40px;
            color: #f8f9fa;
            text-align: center;
        }
         
    }    
}

    @else if $vista == mobile {
    @media only screen and (max-width:767px){
            h1{font-size: 25px;
            font-family: 'Poppins', sans-serif;}
            h2{font-size: 22px;}
            h3{font-size: 20px;}
    }
}
    @else{
        h1{font-size: 20px;}
        h2{font-size: 25px;}
        h3{font-size: 15px;}
}



